@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --primary-color: #181b3a;
  --secondary-color: #01d293;
  --body-bg: #0b0c28;
  --card-01-bg: linear-gradient(#ef621c, #e1424e);
  --card-02-bg: linear-gradient(#01d293, #56c57a);
  --card-03-bg: #725cff;
  --card-04-bg: #2884ff;
  --heading-color: #fff;
  --small-text-color: #808191;
  --recommend-car01-bg: #e1dfa4;
  --recommend-car02-bg: #e3ecf1;
  --recommend-car03-bg: #f4e3e5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  background: var(--body-bg);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

.main__layout {
  margin-left: 260px;
}

img {
  width: 100%;
}
